<?xml version="1.0"?>
<ruleset name="Cost Importer for WooCommerce">
  <description>WordPress coding standards for distributable plugin source.</description>
  <file>cost-importer-for-woocommerce.php</file>
  <file>includes</file>
  <rule ref="WordPress">
    <exclude name="WordPress.Files.FileName"/>
    <exclude name="WordPress.PHP.DevelopmentFunctions"/>
    <exclude name="Squiz.Commenting.ClassComment"/>
    <exclude name="Squiz.Commenting.FunctionComment"/>
    <exclude name="Squiz.WhiteSpace.FunctionSpacing"/>
    <exclude name="Squiz.WhiteSpace.ControlStructureSpacing"/>
    <exclude name="Squiz.WhiteSpace.SuperfluousWhitespace"/>
    <exclude name="WordPress.PHP.YodaConditions"/>
    <exclude name="WordPress.WP.I18n"/>
    <!-- CSV streams and this plugin's custom audit tables require these reviewed operations. -->
    <exclude name="WordPress.WP.AlternativeFunctions"/>
    <exclude name="WordPress.DB.DirectDatabaseQuery"/>
    <exclude name="WordPress.DB.SlowDBQuery"/>
    <exclude name="Generic.CodeAnalysis.AssignmentInCondition"/>
  </rule>
  <rule ref="PHPCompatibility" />
  <config name="testVersion" value="7.4-"/>
  <exclude-pattern>*/vendor/*</exclude-pattern>
  <exclude-pattern>*/tests/*</exclude-pattern>
</ruleset>
